= link_to "&laquo; Back to list".html_safe, project_url(@fail.project)

.fail-details

  .count= @fail.occurence_count
  %h2= @fail.title
  .clear  
  .occured_at
    -if @fail.occurence_count > 1
      Latest
      %strong= time_ago_in_words(@fail.last_occurence_at)
      ago
    -else
      Occurred 
      %strong= time_ago_in_words(@fail.last_occurence_at)    
      ago
  
  .clear

  .actions
    - unless @fail.acknowledged
      =link_to "Ack", ack_project_fail_url(@fail.project, @fail), :method => :post, :class => "button positive ack"
  .clear
  
  = render :partial => "occurence", :object => @fail.last_occurence

