= link_to "&laquo; Back to list".html_safe, project_url(@fail.project)

.fail-details

  %h2= @fail.title
    
  .occurences
    - if @fail.occurence_count > 1
      %div
        Has occurred
        %strong= pluralize(@fail.occurence_count, "time")
      %div
        Latest
        %strong= time_ago_in_words(@fail.last_occurence_at)
        ago
    - else
      Occurred 
      %strong= time_ago_in_words(@fail.last_occurence_at)    
      ago

  .actions
    = link_to "Acknowledge", ack_project_fail_url(@fail.project, @fail), :method => :post, :class => "button positive ack"
    
  = render :partial => "occurence", :object => @fail.last_occurence

