<div class="section">
  <h3 class="title"><%= title %></h3>
  
  <div class="instruction-tabs">
    <ul>
      <li><%= link_to('Rails 3', '#rails-3') %></li>
      <li><%= link_to('Java', '#java') %></li>
    </ul>
    <div class="clear"></div>
    
    <div id="rails-3">
<%= render_instructions(@project, "rails-3") %>
    </div>
    
    <div id="java">
<%= render_instructions(@project, "java") %>
    </div>
</div>