- link_to project_url(project), :class => "project #{(project.has_open_fails?? "project-fail" : "project-ok project-ok-#{ok_project_size}")}" do 
  %h1= project.name
  - if project.has_open_fails?
    %h2= project.open_fails.first.title
    %h2= "at " + project.open_fails.first.location
    %h3.occurence= time_ago_in_words(project.open_fails.first.last_occurence_at) + " ago"
 
