<!DOCTYPE html>
<html>
  <head>
    <title>Failurous</title>
    <%= stylesheet_link_tag "blueprint/screen.css", :media => "screen, projection" %>
    <%= stylesheet_link_tag "blueprint/print.css", :media => "print" %>
    <%= stylesheet_link_tag "formtastic" %>
    <!--[if lt IE 8]>
      <%= stylesheet_link_tag "blueprint/ie.css", :media => "screen, projection" %>
    <![endif]-->
    <%= stylesheet_link_tag "blueprint/plugins/buttons/screen", :media => "screen, projection" %>
    <link rel="stylesheet/less" href="/stylesheets/application.less" type="text/css">
    <%= sprockets_include_tag %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <h1 class="logo">
          <a href="/projects"><span></span></a> FAILurous
        </h1>       
        <%= render :partial => "shared/navigation" if show_header_navigation? %>
      </div>
    </div>
    
    <div class="content">
      <div class="container">
        <%= render :partial => 'shared/messages' %>
        <%= yield %>
      </div>
    </div>    
    
  <script type="text/javascript">
    var rumbleUrl = 'http://railsrumble.com';
  </script>
  <script type="text/javascript" src="http://blog.railsrumble.com/javascripts/rumble-r10-sash.js"></script>  
   <a href="http://github.com/railsrumble/rr10-team-256"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
  </body>
</html>
