<!DOCTYPE html>
<html>
<head>
  <title>Failurous</title>
  <%= stylesheet_link_tag "blueprint/screen.css", :media => "screen, projection" %>
  <%= stylesheet_link_tag "blueprint/print.css", :media => "print" %>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag "blueprint/ie.css", :media => "screen, projection" %>
  <![endif]-->
  <%= stylesheet_link_tag "blueprint/plugins/buttons/screen" %>
  <%= stylesheet_link_tag "formtastic" %>
  <%= stylesheet_link_tag "application" %>
  <%= sprockets_include_tag %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="header">
	  <div class="container">
      <h1>Failurous</h1>
    </div>
  </div>
  <div>
    <div class="container">
      <%= yield %>
    </div>
  </div>
</body>
</html>

